.header {
  padding: 40px 113px 20px 65px;
  display: flex;
  justify-content: space-between;
}

.header__burger {
  display: block;
  position: relative;
  width: 45px;
  height: 29px;
  z-index: 5;
  left: -18.5px;
  top: 0px;
  transition: 0.3s;
  cursor: pointer;

  span {
    background-color: #7c089b;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 13px;
  }
}

.header__burger::before,
.header__burger::after {
  content: "";
  content: "";
  background-color: #7c089b;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
}

.header__burger::before {
  top: 0;
  transition: 0.3s;
}

.header__burger::after {
  bottom: 0;
  transition: 0.3s;
}

.header__burger.active::before {
  transform: translateY(11px) rotateZ(-45deg);
}

.header__burger.active span {
  display: none;
}

.header__burger.active::after {
  transform: translateY(-16px) rotateZ(45deg);
}

.nav__header {
  position: fixed;
  top: 0;
  left: -100%;
  width: 400px;
  height: 100%;
  background-image: url("../assets/img/5b8bd74a987541659a40fb80.jpg");
  padding: 70px 10px 20px 0px;
  transition: 0.3s;
  z-index: 4;
  min-width: 210px;

  position: fixed;
}

.nav__list {
  padding-top: 25px;
  padding-left: 0px;
  list-style-type: none;
  z-index: 2;
  position: relative;
}

.nav__item {
  position: relative;
  margin: 0 0 20px 0;
}

.nav__link {
  text-decoration: none;
  font-size: 31px;
  line-height: 38px;
  color: #37474f;
  font-family: "ComicNeue-Bold";
  text-transform: uppercase;
  display: block;
  padding-left: 100px;
  margin: 20px 0;
  cursor: pointer;
}

.nav__link_active {
  color: #7c089b;
}

.nav__link:hover {
  color: #7c089b;
  transform: rotateY(20deg);
  transition: 0.2s;
}

.Main-Page {
  font-size: 40px;
  padding: 0 0 12px 78px;
}

.nav__item .Action_1::before {
  content: "🏃";
  margin-left: -25px;
  margin-right: 14px;
}

.nav__item .Action_2::before {
  content: "💃";
  margin-left: -25px;
  margin-right: 14px;
}

.nav__item .Animal_1::before {
  content: "🐓";
  margin-left: -25px;
  margin-right: 14px;
}

.nav__item .Animal_2::before {
  content: "🦁";
  margin-left: -25px;
  margin-right: 14px;
}

.nav__item .Clothes::before {
  content: "👗";
  margin-left: -25px;
  margin-right: 14px;
}

.nav__item .Emotion_1::before {
  content: "😃";
  margin-left: -25px;
  margin-right: 14px;
}

.nav__item .fruit::before {
  content: "🍌";
  margin-left: -25px;
  margin-right: 14px;
}

.nav__item .berry::before {
  content: "🍓";
  margin-left: -25px;
  margin-right: 14px;
}

.nav__item .statistics::before {
  content: "📊";
  margin-left: -25px;
  margin-right: 14px;
}

.nav__header.active {
  left: 0;
  box-shadow: 17px 0px 50px -18px #00000047;
}

.switch-container {
  width: 60px;
  height: 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 132px;
  height: 50px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  padding: 17px 10px 10px 8px;

  color: #7c089b;
  font-family: "ComicNeue-Bold";
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  background-image: url("../assets/img/5b8bd74a987541659a40fb80.jpg");
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 2px 5px 0 #00000008, 0 2px 10px 0 #00000047;
}

.slider:hover {
  box-shadow: 0 10px 20px #00000066;
}

.slider:before {
  position: absolute;
  content: "";
  height: 36px;
  width: 56px;
  left: 68px;
  bottom: 6px;
  background-color: #7c089b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 8px;
}

input:checked+.slider {
  background-image: url("../assets/img/5b8bd74a987541659a40fb80.jpg");
  background-position: 201px;
}

input:checked+.slider:before {
  -webkit-transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  transform: translateX(-60px);
}
