// .rotate {//   width: 20px;
//   height: 20px;
//   background-image: url('../assets/img/63697.png');
// }

.hidden {
  display: none;
}

.animation {
  transition: 0.8s;
  transform: rotateY(180deg) scale(-1, 1);
}

.rotate {
  transform: rotate(360deg);

  transition: 0.5s !important;
}
