body {
  margin: 0 auto;
  position: relative;
}

.wrapper {
  background-color: #d9c2df;
  min-height: 100vh;
}

.wrapper__shadow {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 55, 70, 0.4);
  z-index: 2;
}

.wrapper__shadow.active {
  display: block;
}

.card-container {
  margin: 0px 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  text-decoration: none;
  font-size: 25px;
  line-height: 38px;
  color: #7c089b;
  font-family: 'ComicNeue-Bold';
  text-transform: uppercase;
  background-image: url('../assets/img/5b8bd74a987541659a40fb80.jpg');
  text-align: center;
  margin: 22px;
  transition: 0.3s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 13px;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.nameOfCategory {
  position: absolute;
  top: -4px;
  font-size: 36px;
  color: #7c089b;

  font-family: 'ComicNeue-Bold';
}

.cardsCategoryStyle {
  border: 5px solid #7c089b;
}

.cardsCategoryStyle:hover {
  border: 5px solid #37474f;
}

.cardsWord {
  position: relative;
}

.button {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  position: absolute;
  right: 34px;
  top: 3px;
  border-radius: 50%;
  border: 2px solid #7c089b;
}

.button:hover {
  cursor: pointer;
  background-color: #7c089b;
  outline: none;
}

.cardPlay {
  background-position: -555px;
}



.button-Game__Container {
  width: 100%;
  height: 100px;
  display: flex;

  .button-Game {
    background-image: url('../assets/img/5b8bd74a987541659a40fb80.jpg');
    width: 356px;
    height: 55px;
    margin: 0 auto;
    margin-top: 21px;
    border-radius: 20px;
    background-position: 886px;
    font-size: 36px;
    color: #7c089b;
  }

  .button-Game:hover {
    cursor: pointer;
    border: 3px solid #7c089b;
  }

  .button-repeat {
    width: 70px;
    height: 70px;
    margin-top: 13px;
    border-radius: 50%;
    background-position: 6px;
    outline: none;
    background: #7c089b;
    background-image: url('../assets/img/repeat.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border: 0;
  }

}


.card__img {
  width: 300px;
  height: 250px;
  background-position: -27px;
}

.Action_1__img {
  background-image: url(../assets/img/dance.jpg);
}

.Action_2__img {
  background-image: url(../assets/img/swim.jpg);
}

.Emotion_1__img {
  background-image: url(../assets/img/smile.jpg);
}

.Emotion_2__img {
  background-image: url(../assets/img/angry.jpg);
}

.Animal_1__img {
  background-image: url(../assets/img/cat.jpg);
}

.Animal_2__img {
  background-image: url(../assets/img/bird.jpg);
}

.Clothes__img {
  background-image: url(../assets/img/blouse.jpg);
}

.shadow {
  box-shadow: inset 0px 0px 291px 200px rgba(0, 0, 0, 0.6);

}
