@media(max-width: 870px) {
  .nav__header.active {
    left: -30px;
    width: 310px;
  }

  .nav__link {
    padding-left: 93px;
    margin: 0px 0;
    font-size: 30px;
  }
}

@media(max-width: 620px) {
  .header {
    padding: 27px 71px 52px 45px;
  }

  .header__burger {
    top: 15px;
  }

  .nav__header {
    left: -130%;
  }







  .button-Game {

    margin-top: 20px;
  }

}

@media(max-width: 420px) {
  .nameOfCategory {
    top: 77px;
    margin: 0;
    font-size: 27px;
  }

  .nav__header.active {
    width: 210px;
  }

  .nav__link {

    padding-left: 50px;
    margin: -10px 0;
    font-size: 26px;
  }
}
