body {
  background-image: linear-gradient(rgba(8, 15, 26, 0.59) 0%, rgba(17, 17, 46, 0.46) 100%),
    url("../assets/image/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.wrapper {
  min-width: 320px;
  max-width: 1440px;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.header {
  padding: 30px 80px 20px;

  height: 90px;
  display: flex;

  justify-content: space-between;
}
.button__bar {
  width: 25%;
  display: flex;
  justify-content: flex-start;
}

.btn-outline-secondary,
.dropdown-toggle {
  margin-right: 10px;
}

.btn-outline-secondary {
  color: #fff;
  background-color: #6c757d;
}

.btn-outline-secondary:hover {
  background-color: #545b62;
}
.dropdown-toggle {
  height: 100%;
  width: 68px;
}

.dropdown-menu.show {
  left: -3px;
  min-width: 1rem;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #545b62;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #6161617a;
}
.form-control:focus {
  border-color: #495057;
  box-shadow: 0 0 0 0.2rem #4242422e;
}

.background-btn {
  background: #6c757d url("../assets/image/update-button.svg");
}
.spinning {
  transform: rotateZ(180deg);
  transition: 0.2s;
}

.main {
  display: flex;
  justify-content: space-evenly;
  margin: 0px 40px;
}
.weather__container {
  margin: 20px 0px 0px 20px;
  flex-basis: 65%;
}

.user-location__place {
  font-size: 55px;
  text-transform: uppercase;
  font-weight: bolder;
}

.user-location__date {
  font-size: 35px;
}

.weather__today {
  display: flex;
}
.temp {
  font-size: 180px;
  margin-right: 55px;
}

.other-information {
  font-size: 28px;
  margin-top: 35px;
  text-transform: uppercase;
}
.weather__three-days {
  display: flex;
}

.day {
  font-size: 40px;
  margin: 20px;
  text-transform: uppercase;
}
.temp-day {
}

.map__container {
  margin: 20px;
  flex-basis: 35%;
}
.local-map {
  width: 400px;
  height: 400px;
  background-color: #495057;

  border-radius: 25px;
}
.coordinates {
  margin-top: 30px;
  text-align: end;
  font-size: 20px;
}
