@import '../../node_modules/normalize.css/normalize.css';

body {
  margin: 0 auto;
}
.wrapper {
  background-color: #d9c2df;
  min-height: 100vh;
}
.header {
  padding: 40px 105px 40px 140px;
  display: flex;
  justify-content: space-between;
}

.header__burger {
  display: block;
  position: relative;
  width: 25px;
  height: 19px;
  z-index: 5;
  left: -18.5px;
  top: 0px;
  transition: 0.3s;
  cursor: pointer;
  span {
    background-color: #7c089b;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
  }
}
.header__burger::before,
.header__burger::after {
  content: '';
  background-color: #7c089b;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger.active {
  transform: rotate(90deg);
}

.nav__header {
  position: fixed;
  top: 0;
  left: -100%;
  width: 22%;
  height: 100%;
  background-image: url('../assets/img/5b8bd74a987541659a40fb80.jpg');
  padding: 70px 10px 20px 0px;
  transition: 0.3s;
  z-index: 4;
  .nav__list {
    padding-top: 25px;
    padding-left: 0px;
    list-style-type: none;
    z-index: 2;
    position: relative;
    .nav__item {
      position: relative;
      margin: 0 0 20px 0;
      .nav__link {
        text-decoration: none;
        font-size: 25px;
        line-height: 38px;
        color: #37474f;
        font-family: 'ComicNeue-Bold';
        text-transform: uppercase;
        display: block;
        padding-left: 2.4em;
        cursor: pointer;
      }

      .nav__link_active {
        color: #7c089b;
        text-decoration: underline;
      }

      .nav__link:hover {
        color: #7c089b;
      }
    }
  }
}
.nav__header.active {
  left: 0;
  box-shadow: 17px 0px 50px -18px rgba(0, 0, 0, 0.54);
}

.switch-container {
  width: 60px;
  height: 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 40px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  padding: 12px 10px 10px 8px;

  color: #7c089b;
  font-family: 'ComicNeue-Bold';
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url('../assets/img/5b8bd74a987541659a40fb80.jpg');
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.slider:before {
  position: absolute;
  content: '';
  height: 30px;
  width: 49px;
  left: 7px;
  bottom: 4px;
  background-color: #7c089b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 8px;
}

input:checked + .slider {
  background-image: url('../assets/img/5b8bd74a987541659a40fb80.jpg');
  background-position: 201px;
}

input:checked + .slider:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}

.card-container {
  margin: 0px 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  text-decoration: none;
  font-size: 25px;
  line-height: 38px;
  color: #37474f;
  font-family: 'ComicNeue-Bold';
  text-transform: uppercase;
  background-image: url('../assets/img/5b8bd74a987541659a40fb80.jpg');
  text-align: center;
  margin: 22px;
  // width: 300px;
  transition: 0.3s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  // border-left: red solid 50px;
  // border-image: url('../assets/img/5b8bd74a987541659a40fb80.jpg') 30;
  // background-position: -50px;
}
.cardPlay {
  background-position: -555px;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.card__img {
  width: 300px;
  height: 250px;
}

.Action_1 {
  background-image: url(../assets/img/dance.jpg);
}
.Action_2 {
  background-image: url(../assets/img/swim.jpg);
}
.Emotion_1 {
  background-image: url(../assets/img/smile.jpg);
}
.Emotion_2 {
  background-image: url(../assets/img/angry.jpg);
}
.Animal_1 {
  background-image: url(../assets/img/cat.jpg);
}
.Animal_2 {
  background-image: url(../assets/img/bird.jpg);
}
.Clothes {
  background-image: url(../assets/img/blouse.jpg);
}
