body {
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  background-image: url("../assets/image/backgroundBody.jpg");
  background-size: contain;
  background-position-y: no-repeat;
}
.main {
  flex: 1 0 auto;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
}
.header {
  width: 100%;
  background-color: #424242;
  height: 65px;
  .heading {
    color: #de6e6e;
    font-size: 40px;
    text-align: center;
    margin-top: 6px;
  }
}

.footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  background-color: #424242;
  .link {
    font-size: 35px;
    color: #bdbdbd;
    text-decoration: none;
    padding: 7px;
    transition: color 0.3s linear;
  }
  .link:hover {
    cursor: pointer;
    color: #de6e6e;
  }
}
.author {
  position: relative;
}
.author::before {
  position: absolute;
  content: "";
  left: -42px;
  top: 19px;
  width: 35px;
  height: 35px;
  background-size: cover;
  background-image: url("../assets/image/github.svg");
}
