.hidden {
  display: none;
}
body {
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  background-color: #424242;
  height: 90px;
  .heading {
    color: #de6e6e;
    font-size: 45px;
    text-align: center;
    margin-top: 15px;
  }
}

.main {
  flex: 1 0 auto;
  background-image: url("../assets/image/backgroundBody.jpg");
  background-size: contain;
  background-position-y: no-repeat;
}
.search-container {
  width: 70%;
  margin: 30px auto;
  position: relative;
}
.btn-primary {
  position: absolute;
  top: 9px;
  right: 188px;
}
.btn {
  padding: 0.7rem 0.75rem;
  border-radius: 0;
}
.search {
  background-image: url("../assets/image/search.svg");
  background-repeat: no-repeat;
  height: 50px;
  width: calc(100% - 140px);
  padding: 10px 12px 10px 60px;
  font-size: 25px;
}

.submit {
  height: 60px;
  width: 130px;
  border-radius: 15px;
  border: none;
  font-size: 30px;
  background-color: #de6e6e;
}
.submit:hover {
  cursor: pointer;

  border: 3px solid #ffccbc;
}

.answer-container {
  height: 50px;
}
.answer {
  font-size: 25px;
  margin-top: 30px;
}
// .swiper-container {
//   width: 75%;
//   height: 700px;
//   margin-top: 3%;
// }

.swiper-container {
  width: 90%;
  // height: 770px;
  padding: 0 50px;
}

.swiper-wrapper {
  height: 80%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: black;
  font-weight: bold;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 30px 20px;
  border-radius: 10px;
  background-color: #de6e6e;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #de6e6e;
  border: 2px solid #ffccbc;
}

.swiper-slide {
  // background-size: 100%;
  // width: 400px !important;
  background-repeat: no-repeat;
  background-color: #424242;
  box-shadow: 0 2px 5px 0 #00000008, 0 2px 10px 0 #00000047;
  border-radius: 15px;
}

.swiper-slide:hover {
  border: 1px solid black;
  box-shadow: 0 3px 11px 0 #00000008, 0 6px 21px 0 #00000097;
}

.card-title {
  color: #bdbdbd;
  font-size: 25px;
  text-align: center;
  height: 50px;
  margin: 10px 0;
}
.linkFilm:hover {
  text-decoration: none;
}
.card-title:hover {
  color: #de6e6e;
}

.card-img-top {
  height: 470px !important;
}
.no-poster {
  background-image: url("../assets/image/no_poster.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.card-text {
  color: #bdbdbd;
  text-align: center;
  font-size: 20px;
  width: 90px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.imdb-rating {
  position: relative;
}
.imdb-rating::before {
  position: absolute;
  content: "";
  top: 1px;
  left: 1px;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-image: url("../assets/image/star.svg");
}

.footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  background-color: #424242;
  // height: 40px;
  .link {
    font-size: 35px;
    color: #bdbdbd;
    text-decoration: none;
    padding: 7px;
  }
  .link:hover {
    cursor: pointer;
    color: #de6e6e;
  }
}
.author {
  position: relative;
}
.author::before {
  position: absolute;
  content: "";
  left: -42px;
  top: 19px;
  width: 35px;
  height: 35px;
  background-size: cover;
  background-image: url("../assets/image/github.svg");
}
