@media (max-width: 770px) {
  .spinner-border {
    width: 1.5rem;
    height: 1.5rem;
  }
  .spinner {
    right: 25%;
  }
  .header {
    height: 55px;

    .heading {
      font-size: 30px;
      margin-top: 8px;
    }
  }
  .search-container {
    margin-top: 5px;
  }
  .search {
    width: 80%;
    font-size: 15px;
    height: 40px;
    padding-left: 40px;
  }
  .submit {
    margin-top: 10px;
    height: 35px;
    width: 55px;
    font-size: 13px;
    border-radius: 10px;
  }
  .answer {
    font-size: 18px;
  }
  .swiper-button {
    display: none;
  }
  .swiper-slide {
    width: 250px !important;
  }
  .footer .link {
    font-size: 15px;
  }
  .author::before {
    left: -15px;
    top: 7px;
    width: 17px;
    height: 17px;
  }
  .search-container {
    width: 93%;
  }
  @media (max-width: 770px) {
    .spinner {
      right: 30%;
    }
  }
}
