@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/swiper/css/swiper.min.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

@import "./layout.scss";
@import "./media.scss";
@import "./helper.scss";

// @font-face {
//   font-family: "";
//   src: url("../assets/fonts/");
// }
